<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email">
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
      Email inválido
    </div>
  </div>

  <div>
    <label for="senha">Senha:</label>
    <input id="senha" formControlName="senha" type="password">
  </div>

  <div>
    <label for="tipo">Tipo:</label>
    <select id="tipo" formControlName="tipo">
      <option value="" disabled selected>Selecione o tipo</option>
      <option value="Aluno">Aluno</option>
      <option value="Professor">Professor</option>
    </select>
    <div *ngIf="userForm.get('tipo')?.invalid && userForm.get('tipo')?.touched">
      Por favor, selecione um tipo.
    </div>
  </div>

  <button type="submit" [disabled]="userForm.invalid">Salvar</button>
</form>
